@import './partials/colors';
@import './partials/animations';
@import './partials/header';
@import './partials/hero';
@import './partials/social-bar';
@import './partials/about';
@import './partials/footer';

html,
body {
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: 'Rubik', sans-serif;
  background-color: $secondary;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

.box-layout {
  max-width: 1440px;
  padding: 0 64px;
  margin: 0 auto;
}
.btn {
  padding: 10px 24px;
  border-radius: 4px;
  font-size: 1rem;
  border: none;
  font-family: 'Inconsolata', monospace;
  background: none;
  color: $accent;
  cursor: pointer;
}

.btn--primary {
  border: 1.5px solid $accent;
  transition: 0.2s all ease-in;
  &:hover {
    background-color: $accent;
    color: $secondary;
  }
}

.sections {
  padding: 32px 0;
}

.section-heading {
  color: #fff;
  margin-bottom: 64px;
}

main {
  padding: 64px;
  min-height: calc((var(--vh, 1vh) * 100) - 120px);
}

.text-emphasis {
  color: $accent !important;
}
.scroll-top {
  position: fixed;
  bottom: 16px;
  right: 24px;
  padding: 6px;
  background: $accent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: none;
  border: 5px solid $secondary;
  animation: scrollTop 0.5s cubic-bezier(0.61, 0.22, 0.27, 1.55) forwards;
  svg {
    height: 30px;
    width: 30px;
    fill: $secondary;
  }
  &.active {
    display: block !important;
  }
}

@media screen and (max-width: 960px) {
  .box-layout {
    max-width: 900px;
    padding: 0 32px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .box-layout {
    max-width: 580px;
    padding: 0 24px;
    margin: 0 auto;
  }
}
